{% extends "blog/base.html" %}

{% block content %}
  <section class="about-section mt-4">
    <h1>Sobre Este Blog</h1>
    <p>Bem-vindo a este blog! Aqui encontrarás publicações sobre uma variedade de temas, desde tutoriais de programação, insights tecnológicos, reflexões pessoais até as últimas novidades e funcionalidades.</p>

    <p>O blog foi construído com Django e tem como objetivo fornecer conteúdo útil tanto para iniciantes como para programadores experientes. Podes interagir comentando nas publicações, gostando delas e partilhando as tuas ideias.</p>

    <p>Sente-te à vontade para explorar, conectar e contribuir. O teu feedback é muito valorizado e ajuda a melhorar este espaço.</p>

    <hr>

    <h2>Sobre o Autor</h2>
    <p>Este projeto foi inicialmente inspirado e desenvolvido com base num tutorial do Corey Schafer, mas desde então foi expandido com novas funcionalidades como comentários, gostos e autenticação social para proporcionar uma experiência mais rica.</p>

    <p>Obrigado pela tua visita! Se estiveres interessado no código ou quiseres entrar em contacto, consulta os links na página inicial ou contacta-nos através da página de contacto.</p>
  </section>
{% endblock content %}
