{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% for post in posts %}
        <article class="media content-section" onclick="location.href='{% url 'post-detail' post.pk %}'" style="cursor:pointer;">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="Author Image">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.created_at }}</small>
                </div>
                <p>{{ post.content }}</p>

                <p> 
                    {% if user.is_authenticated %}
                        <button 
                            class="btn btn-sm btn-outline-primary like-button" 
                            data-post-id="{{ post.pk }}"
                            aria-pressed="{% if user in post.likes.all %}true{% else %}false{% endif %}"
                            onclick="event.stopPropagation();">
                            {% if user in post.likes.all %}
                                ❤️
                            {% else %}
                                🤍
                            {% endif %}
                            (<span class="likes-count">{{ post.likes.count }}</span>)
                        </button>
                    {% else %}
                        <small><a href="{% url 'login' %}" onclick="event.stopPropagation();">Faça login</a> para dar like</small>
                    {% endif %}
                    <a href="{% url 'post-detail' post.pk %}">
                        <button class="btn btn-sm btn-outline-primary like-button">
                            {{ post.comments.count }} 💬
                        </button>
                    </a>
                </p>
            </div>
        </article>

    {% endfor %}
    
    <div class="pagination">
            {% if is_paginated %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <span class="btn btn-outline-secondary mb-4">{{ num }}</span>
                        {% elif num > page_obj.number|add:-2 and num < page_obj.number|add:2 %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>
    
{% endblock content %}

        
