{% extends "blog/base.html" %}
{% block content %}
<h1 class="mb-3">Posts feitos por {{ view.kwargs.username }} ({{ posts.count }})</h1> <!-- Display the number of posts by the user -->
    
    {% if not posts %}

    {% endif %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="Author Image">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.created_at }}</small>
                </div>
                <p><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.content }}</a></p>

            </div>
        </article>
    {% endfor %}
    
    <div class="pagination">
            {% if is_paginated %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <span class="btn btn-outline-secondary mb-4">{{ num }}</span>
                        {% elif num > page_obj.number|add:-2 and num < page_obj.number|add:2 %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>
    
{% endblock content %}

        
