{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="content-section">

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Login</legend>
                    {{ form|crispy }}
                </fieldset>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info">Login</button>
                </div>
            </form>

        <div class="border-top pt-3">
            <small>
                <p>Não tens conta? <a href="{% url 'register' %}">Cria aqui!</a></p>
            </small>
            <small>
                <p>Esqueceste a password? <a href="{% url 'password_reset' %}">Reset aqui!</a></p>
            </small>
            <small>
                <p>Precisas de ajuda? <a href="#">Contacta-nos aqui!</a></p>
            </small>
        </div>
    </div>
{% endblock content %}